.block-section-social-links {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin: 3rem 0;
    padding: .5rem 0;
}

.block-section-social-links-item {
    border-radius: 10%;
    padding: 1rem 2rem;
    transition: background 0.2s;
}

.block-section-social-links-item:hover {
    background: var(--highlight-color);
}

@media screen and (max-width: 390px) {
    .block-section-social-links {
        margin: 1.8rem 0;
        padding: 0;
    }
    
    .block-section-social-links-item {
        padding: 0rem 1.5rem;
    }
}